@font-face {
  font-family: 'digital';
  src: url('digital-7.ttf')  format('truetype');
       }

body {
  font-family: 'digital';
  
}

#consola {
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}

#canvas {
  z-index: 0;
}

#canvas, #help_img, #pause_img, #gameover_img {
  border:1px solid #000000;
  position:absolute;
}

#help_img{
  z-index: 3;
}

#gameover_img{
  z-index: 2;
}

#pause_img{
  z-index: 1;
}
h1 {
  margin: 0px;
  text-align: center;
  font-size: 3em; 
  border:1px solid #000000;
}

#screen, #panel {
  display: block;
  float: left;
}

#screen{
  width: 300px;
}

#panel {
  float: right;
  width: 96px;
  height: 600px;
  border: 1px solid #000000;
  text-align: center;
  font-size: large;
  font-weight: 588;
}

#title {
  float: left;
  margin-left: 10px;
}

#value {
  float: right;
  margin-right: 10px;
}

#panel button {
  width: 70%;
  transform: rotate(-20deg);
  height: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  
  
}
